.experience-section {
  background-color: #393646;
  height: 100vh;
}
.cards {
  display: flex;
  align-items: center;
  margin-left: 100px;
  gap: 25px;
}
.heading {
  margin-top: 0%;

  color: #f4eee0;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  padding-top: 15px;
  padding-left: 40%;
}
.animate {
  animation: slideIn 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.scroll-in {
  opacity: 0;
  transform: translateY(100px);
  animation: scrollIn 1s forwards;
  animation-timeline: scroll(root block);
}

@keyframes scrollIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
