.card-section {
  background-color: #61677a;
  width: 21.5rem;
  border-radius: 25px;
  color: #fff6e0;
  font-size: 0.75rem;
  border: 5px solid transparent; /* Add a transparent border */
  transition: border-color 0.3s; /* Add transition for smooth effect */
}

.card-section:hover {
  border-color: #646cff; /* Change border color on hover */
  cursor: pointer;
}

img {
  object-fit: contain;
  width: 100%;
  height: 150%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  aspect-ratio: 2/1;
}
.card-content {
  margin: 1rem;
  max-width: 90%; /* Adjust the value as needed */
  overflow: hidden;
}
.project-link {
  color: #fff6e0; /* Change 'blue' to the desired color */
  margin-right: 10rem;
  text-decoration: underline;
}
