.work-section {
  padding: 1rem 1rem;
  background-color: #272829;
}

.heading {
  text-align: center;
  font-size: 2rem;
}
.projects {
  display: flex;
  
   
  align-content: center;
  justify-content: space-around;

}

@media only screen and (max-width: 768px) {
  .projects {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .card-section {
    margin: 1rem;
  }
  
}