.card-section {
  width: 20%;
  background-color: #393646;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5%;

  transition: background-color 0.5s ease;
}
.card-section:hover {
  background: orange;
  border: 2px solid white;
}
.role {
  display: flex;
  align-items: center;
  margin-left: 5px;
  color: #f4eee0;
  gap: 10px;
}
svg {
  font-size: 50px;
}
.info {
  margin-left: 5px;
}
